<div class="headerContainer">
    <h1 id="headerText"><a href="/">World Soccer League</a></h1>
    <% if (user) { %>
        <nav>
            <a class="navHeader" id="navProfile" href="/">Home</a>
            <a class="navHeader" id="navSearch" href="/country">Search</a>
            <a class="navHeader" id="navLogout" href="/users/follow">Following Club</a>    
            <a class="navHeader" id="navLogin" href="/users/logout">Log out</a>
        </nav>
    <% } %>
</div>



