<h1 id="clubHeaderText">Your Following Clubs</h1></br>
<div class="clubListForLoopContainer">
    <% for( let i = 0; i < storedClubInfos.length; i++ ) { %>
        <div class="clubListForLoop">
            <h2 id="leagueName"><%= storedClubInfos[i].clubname %> </h2>
            <h2 >Followed on <%= storedClubInfos[i].createdAt %> </h2>
            <form action="/follow/club/<%= storedClubInfos[i].clubid %>/?_method=DELETE" method="POST">
                <input type="hidden" name="clubIdNum" value="<%= storedClubInfos[i].clubid %>">
                <input type="submit" value="UNFOLLOW">
            </form>
        </div>
    <% } %> 
</div>


