<div class="followinglinkContainer">
    <div class="followingLeague">
        <a href="/follow/list/league">FOLLOWING LEAGUE</a>
    </div>
    <div class="followingClub">
        <a href="/follow/list/club">FOLLOWING CLUB</a>
    </div>
</div>