<h1 id="clubHeaderText">Your Following Clubs</h1></br>
<div class="clubListForLoopContainer">
    <% for( let i = 0; i < storedClubInfos.length; i++ ) { %>
        <div class="clubListForLoop">
            <h2 id="leagueName"><%= storedClubInfos[i].clubname %> </h2>
            <h2 >Followed on <%= storedClubInfos[i].createdAt %> </h2>
            <form action="/follow/club/delete/<%= storedClubInfos[i].clubname %>" method="DELETE/resource?_method=DELETE">
                <input type="hidden" name="deleteClub" value="<%= storedClubInfos[i].clubname %>">
                <input type="submit" name="deleteClub" value="UNFOLLOW">
            </form>
        </div>
    <% } %> 
</div>


