<h1 id="clubHeaderText">Your Following Clubs</h1></br>

<div class="clubListForLoopContainer">
    <% for( let i = 0; i < clubs.length; i++ ) { %>
        <div class="clubListForLoop">
            <h1><%= clubs[i].teams[0].strTeam %> </h1>
            <img id="clubBanner" src="<%= clubs[i].teams[0].strTeamBadge %>" alt="<%= clubs[i].teams[0].strTeam %>">
            <h4>Main Stadium: <%= clubs[i].teams[0].strStadium %> </h4>
        </div>
    <% } %> 
</div>