<div class="main-index">
    <h1>Need FORMs, have user to type username and password. If username/password matched, have a user to login</h1>
    <form action="/login" method="POST">
        <label for="username"><b>Username</b></label>
        <input type="text" name="username">

        <label for="password"><b>Password</b></label>
        <input type="password" name="password">

        <input type="submit" value="Sign in">
    </form>
</div>