<div class="main-index">
    <h1>This is the login page. Need to have form and have user to type username and password. If matches to the database have a user to login</h1>
    <form action="/login" method="GET">
        <label for="username">Username</label>
        <input type="text" name="username">

        <label for="password">Password</label>
        <input type="password" name="password">

        <input type="submit" value="Sign in">
    </form>
</div>