body {
    background: linear-gradient(90deg, #a9acc9, #bbd4dc, #adcec1);
    margin: 0;
    padding: 0;
    position: relative;
}

.headerContainer {
    background-color: rgb(255, 255, 255);
    position: relative;
    margin:0;
    padding: 0;
    width: 100%;
    height: 120px;
}
.headerLink {
    display: flex;
    flex-direction: row-reverse;
    background: white;
    width: 100%;
    height: 50px;
}

.headerLinkContainer {
    display: flex;
}

#headerLinkLinkedIn {
    margin-right: 50px;
    margin-top: 60px;
}
#headerLinkGithub {
    margin-right: 15px;
    margin-top: 60px;
}

#headerImgLink {
    width: 35px;
    height: 35px;
    padding: 0;
}

#copyright {
    margin-right: 20px;
    margin-top: 80px;
}

#headerText {
    position: absolute;
    margin-left: 50px;
    font-size: 3em;
    font-family: fantasy;
}



.navContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: right;
    margin-top: 75px;
}

.navHeader {
    font-size: 22px;
    text-decoration: overline;
}

#navFollow {
    margin-left: 15px;
    margin-right: 15px;
}
#navLogout {
    margin-right: 400px;
}
#navProfile {
    margin-right: 15px;
}

.SignUpInputSpace {
    margin-top: 15px;
    margin-bottom: 15px;
}

.edit-page {
    background-color: white;
    color: black;
    padding: 50px;
    width: 50%;
    height: 430px;
    margin: auto;
    margin-top: 150px;
    opacity: 0.85;
    border-radius: 30px;
    border: 2px solid rgb(80, 80, 59)
}

.userInfoTextContainer {
    margin-top: 20px;
    margin-left: 350px;
    display: flex;
}
#userEditSubmit {
    margin-left: 100px;
    margin-top: 10px;
}
#userEditSubmit:hover{
    transform: scale(1.1);
}

#userInfoText {
    margin: 0;
}

.main-index {
    background-color: white;
    color: black;
    padding: 50px;
    width: 50%;
    height: 430px;
    margin: auto;
    margin-top: 150px;
    text-align: center;
    opacity: 0.85;
    border-radius: 30px;
    border: 2px solid rgb(80, 80, 59)
}

.mainpageContainer {
    display: flex;
    justify-content: center;
    align-items: center;

}

.mainpage-left {
    border: 1px solid black;
    background-color: white;
    width: 970px;
    height: 600px;
    margin-right: 75px;
    margin-top: 100px;
    box-shadow: 5px 5px 20px rgba(0,0,0,1.5);
    border: none;
}

#mainpage-left-Text-Big, #mainpage-left-Text-Small {
    margin-top: 20px;
    margin-left: 20px;
}

#mainpage-left-Text-Big {
    font-size: 55px;
    margin-top: 60px;
    margin-left: 40px;
}
#mainpage-left-Text-Small {
    font-size: 23px;
    margin-top: 60px;
    margin-left: 40px;
}

.mainpage-right {
    border: 1px solid black;
    background-color: white;
    margin-top: 300px;
    margin-left: 75px;
    width: 970px;
    height: 600px;
    box-shadow: 5px 5px 20px rgba(0,0,0,1.5);
    border: none;
}

.countryInputArea {
    width: 250px;
    height: 40px;
    border-radius: 10px;
}
.countryInputArea:hover {
    background: rgb(43, 41, 41);
    color: white;
}

#countrySubmit {
    width: 110px;
    height: 30px;
    margin-left: 10px;
    border-radius: 10px;
}

#countrySubmit:hover {
    transform: scale(1.1);
}

.loginInputArea {
    padding: 6px;
    width: 300px;
    height: 40px;
    border-radius: 10px;
    margin-left: 40px;
    margin-top: 4px;
}

#mainpageLoginText {
    margin-left: 40px;
}

#editUsernameArea {
    font-size: 30px;
    width: 150px;
    border: none;
}

#loginInputText {
    margin-left: -205px;
}

#login-Text-Big {
    margin-top: 20px;
    font-size: 55px;
}

#loginPasswordText {
    margin-bottom: 15px;
}

.leagueLayout, .clubLayout, #clubHeaderText, 
.followingHeaderText, #countryLists {
    text-align: center;
}

a {
    text-decoration: none;
}

#errorMsg {
    color: red;
}

.submit {
    margin-top: 20px;
    margin-left: 140px;
    width: 110px;
    height: 25px;
    text-align: center;
}
.submit:hover {
    transform: scale(1.1);
}

#loginSubmit {
    margin-top: 20px;
    margin-left: 47px;
    width: 110px;
    height: 25px;
}
#loginSubmit:hover {
    transform: scale(1.1);
}

#leagueName {
    font-size: 30px;
}

#leagueBanner, #clubBanner {
    max-width: 220px;
    max-height: 220px;
}

.leagueListForLoop, .clubListForLoop {
    margin: 20px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.8)
}

.leagueListForLoopContainer {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 540px 540px 540px 540px  
                        540px 540px 540px;
    text-align: center;
}
.clubListForLoopContainer {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 540px 540px 540px 540px 
                        540px 540px 540px;
    text-align: center;
}

.lastMatches {
    display: grid;
    grid-template-columns: 6.5% 6.5% 6.5% 6.5% 6.5% 
                           6.5% 6.5% 6.5% 6.5% 6.5% 
                           6.5% 6.5% 6.5% 6.5% 6.5%;
    grid-template-rows: 50px;
    width: 95%;
    height: 120px;
    margin: auto;
    margin-top: 10px;
    justify-content: center;
    background: rgba(255, 255, 255, 0.599);
    border: 1px solid blanchedalmond;
    margin-bottom: 30px;
}

#matchScore, #matchClub {
    margin-top: 3px;
    text-align: center;
}

#matchClubClass {
    margin-top: 15px;
    text-align: center;
}

.followinglinkContainer {
    display: flex;
    justify-content: center;
    margin-top: 18%;
}

.followingLeague, .followingClub {
    width: 500px;
    height: 200px;
    font-size: 4em;
    text-align: center;
}
.followingLeague:hover, .followingClub:hover {
    color: red;
    transform: scale(1.3);    
}

#countryNameText {
    text-align: center;
    font-size: 50px;
}

.followClubsTag {
    display: flex;
    justify-content: center;
    align-items: center;
}
#followId {
    margin-right: 4px;
    color: white;    
    border: none;
    background: rgb(43, 42, 42);
    width: 70px;
    height: 25px;
}
#clubId {
    margin-left: 4px;    
    color: white;    
    border: none;
    background: rgb(43, 42, 42);
    width: 90px;
    height: 25px;
}
#followId:hover, #clubId:hover {
    transform: scale(1.1);
}

h4 {
    margin: 0;
    padding: 0;
}

#mainStadiumText {
    margin-top: 10px;
}
.clubFollow {
    width: 110px;
    height: 25px;
    text-align: center;
    color: white;    
    border: none;
    background: rgb(43, 42, 42);
}

.clubFollow:hover {
    transform: scale(1.1);
}

#countryLetter {
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin-left: 20px;
}

input {
    background-color: rgba(255, 255, 255, 0.633);
    border: 1px solid gray;
    border-radius: 5px;
}
input:hover {
    cursor:pointer;
}



