<h1 id="countryLists">*** Please find and copy/paste the country *** click "<a href="/country">HERE</a>" to go back</h1>

<div class="countryListsTop">
    <div>
        <span id="countryLetter">A:</span>
        'Andorra'    
        'Afghanistan'
        'Antigua and Barbuda'
        'Anguilla'
        'Albania'
        'Armenia'
        'Angola'
        'Antarctica'
        'Argentina'
        'American Samoa'
        'Austria'
        'Australia'
        'Aruba'
        'Åland Islands'
        'Azerbaijan'
        'Algeria'
    </div></br>

    <div>
        <span id="countryLetter">B:</span>
        'Bosnia and Herzegovina'
        'Barbados'
        'Bangladesh'
        'Belgium'
        'Burkina Faso'
        'Bulgaria'
        'Bahrain'
        'Burundi'
        'Benin'
        'Bermuda'
        'Brunei Darussalam'
        'Bolivia'
        'Brazil'
        'Bahamas'
        'Bhutan'
        'Bouvet Island'
        'Botswana'
        'Belarus'
        'Belize'
        'British Indian Ocean Territory'
    </div></br>

    <div>
        <span id="countryLetter">C:</span>
        'Caribbean Netherlands '
        'Canada'
        'Cocos (Keeling) Islands'
        'Congo, Democratic Republic of'
        'Central African Republic'
        'Congo'
        'Switzerland'
        'Côte d'Ivoire'
        'Cook Islands'
        'Chile'
        'Chad'
        'Cameroon'
        'China'
        'Colombia'
        'Costa Rica'
        'Cuba'
        'Cape Verde'
        'Curaçao'
        'Christmas Island'
        'Cyprus'
        'Czech Republic'
        'Croatia'
        'Cambodia'
        'Comoros'
        'Cayman Islands'
    </div></br>

    <div>
        <span id="countryLetter">D:</span>
        'Djibouti'
        'Denmark'
        'Dominica'
        'Dominican Republic'
    </div></br>

    <div>
        <span id="countryLetter">E:</span>
        'Ecuador'
        'Estonia'
        'Egypt'
        'England'
        'Eritrea'
        'Ethiopia'
        'Equatorial Guinea'
        'El Salvador'
    </div></br>

    <div>
        <span id="countryLetter">F:</span>
        'Finland'
        'Fiji'
        'Falkland Islands'
        'Faroe Islands'
        'France'
        'French Guiana'
        'French Southern Territories'
        'French Polynesia'
    </div></br>

    <div>
        <span id="countryLetter">G:</span>
        'Germany'
        'Gabon'
        'Grenada'
        'Georgia'
        'Guernsey'
        'Ghana'
        'Gibraltar'
        'Greenland'
        'Gambia'
        'Guinea'
        'Guadeloupe'
        'Greece'
        'Guatemala'
        'Guam'
        'Guinea-Bissau'
        'Guyana'
    </div></br>
    
    <div>
        <span id="countryLetter">H:</span>
        'Hong Kong'
        'Heard and McDonald Islands'
        'Honduras'
        'Haiti'
        'Hungary'
    </div></br>

    <div>
        <span id="countryLetter">I:</span>
        'International'
        'Indonesia'
        'Ireland'
        'Israel'
        'Isle of Man'
        'India'
        'Iraq'
        'Iran'
        'Iceland'
        'Italy'
    </div></br>

    <div>
        <span id="countryLetter">J:</span>
        'Jamaica'
        'Jordan'
        'Jersey'
        'Japan'
    </div></br>
        
    <div>
        <span id="countryLetter">K:</span>
        'Kyrgyzstan'
        'Kosovo'
        'Kiribati'
        'Kuwait'
        'Kazakhstan'
        'Kenya'
    </div></br>

    <div>
        <span id="countryLetter">L:</span>
        'Liechtenstein'
        'Liberia'
        'Lesotho'
        'Lithuania'
        'Luxembourg'
        'Latvia'
        'Libya'
        'Lao People's Democratic Republic'
        'Lebanon'
    </div></br>
</div>

<div class='countryListsBottom'>
    <div>
        <span id="countryLetter">M:</span>
        'Micronesia, Federated States of'
        'Mayotte'
        'Morocco'
        'Monaco'
        'Moldova'
        'Montenegro'
        'Madagascar'
        'Marshall Islands'
        'Macedonia'
        'Mali'
        'Myanmar'
        'Mongolia'
        'Macau'
        'Northern Mariana Islands'
        'Martinique'
        'Mauritania'
        'Montserrat'
        'Malta'
        'Mauritius'
        'Maldives'
        'Malawi'
        'Mexico'
        'Malaysia'
        'Mozambique'
    </div></br>

    <div>
        <span id="countryLetter">N:</span>
        'Northern Ireland'
        'Namibia'
        'North Korea'
        'New Caledonia'
        'Niger'
        'Norfolk Island'
        'Nigeria'
        'Nicaragua'
        'Norway'
        'Nepal'
        'Nauru'
        'Niue'
        'New Zealand'
    </div></br>

    <div>
        <span id="countryLetter">O:</span>
        'Oman'
    </div></br>

    <div>
        <span id="countryLetter">P:</span>
        'Panama'
        'Peru'
        'Papua New Guinea'
        'Philippines'
        'Pakistan'
        'Poland'
        'Pitcairn'
        'Puerto Rico'
        'Palestine, State of'
        'Portugal'
        'Palau'
        'Paraguay'
    </div></br>

    <div>
        <span id="countryLetter">Q:</span>
        'Qatar'
    </div></br>
        
    <div>
        <span id="countryLetter">R:</span>
        'Réunion'
        'Romania'
        'Russian Federation'
        'Rwanda'
    </div></br>

    <div>
        <span id="countryLetter">S:</span>
        'Saint-Martin (France)'
        'Saint Lucia'
        'Sri Lanka'
        'St. Pierre and Miquelon'
        'Serbia'
        'Scotland'
        'Saudi Arabia'
        'Solomon Islands'
        'Seychelles'
        'Sudan'
        'Sweden'
        'Singapore'
        'Saint Helena'
        'Slovenia'
        'Svalbard and Jan Mayen Islands'
        'Slovakia'
        'Sierra Leone'
        'San Marino'
        'Senegal'
        'Somalia'
        'Suriname'
        'South Sudan'
        'Sao Tome and Principe'
        'Saint Vincent and the Grenadines'
        'Samoa'
        'South Georgia'
        'South Africa'
        'Sint Maarten (Dutch part)'
        'Syria'
        'Swaziland'
        'Spain'
        'Saint Kitts and Nevis'
        'South Korea'
        'Saint Barthélemy'
    </div></br>
        
        
        
    <div>
        <span id="countryLetter">T:</span>
        'The Netherlands'
        'Turks and Caicos Islands'
        'Togo'
        'Thailand'
        'Tajikistan'
        'Tokelau'
        'Timor-Leste'
        'Turkmenistan'
        'Tunisia'
        'Tonga'
        'Turkey'
        'Trinidad and Tobago'
        'Tuvalu'
        'Taiwan'
        'Tanzania'
    </div></br>



    <div>
        <span id="countryLetter">U:</span>
        'Ukraine'
        'Uganda'
        'United States Minor Outlying Islands'
        'United States'
        'United Arab Emirates'
        'Uruguay'
        'Uzbekistan'
        'United Kingdom'
    </div></br>

    <div>
        <span id="countryLetter">V:</span>
        'Vatican'
        'Venezuela'
        'Virgin Islands (British)'
        'Virgin Islands (U.S.)'
        'Vietnam'
        'Vanuatu'
    </div></br>

    <div>
        <span id="countryLetter">W:</span>
        'Worldwide'
        'Wales'
        'Wallis and Futuna Islands'
        'Western Sahara'
    </div></br>

    <div>
        <span id="countryLetter">Y:</span>
        'Yemen'
    </div></br>


    <div>
        <span id="countryLetter">Z:</span>
        'Zambia'
        'Zimbabwe'
    </div></br>
</div>
