<div class="main-index">
    <h1>Please type the Country</h1>
    <h3>*** WAIT!! country name's are case sensitive. Please click 
        <a href="/country/lists">HERE</a> to see the lists of countries ***</h1></br>



    <form action="/country/league" method="GET">
        <label for="typedCountryName"></label>
        <input type="text" name="typedCountryName">

        <input type="submit" value="Search">
    </form>
</div>

