<div class="main-index">
    <h1>WHICH COUNTRY?</h1>
    <h3>* country name's are case sensitive. please click 
        <a href="/country/lists" target="popup" onclick= "window.open('/country/lists', 'popup', 'width=1500,height=800'); 
        return false;">HERE</a> to see the lists of countries </h1>



    <form action="/country/league" method="GET">
        <label for="typedCountryName"></label>
        <input type="text" name="typedCountryName">

        <input type="submit" value="Search">
    </form>
</div>


